div.expenses {
    width: 30%;
    float: left;
    min-width: 500px;
}

div.expenses div.input {
    width: 50%;
    float: left;
}

table.expenses {
    width: 100%;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


@media (max-width: 1330px) {
    div.expenses {
        min-width: auto;
        width: 100%;
    }
    div.expenses {
        margin-top: 20px;
    }
}