.expenses-table {
    margin-top: 10px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

tfoot {
    border-top: 1px solid rgb(109, 109, 109);
}


@media (max-width: 1085px) {
    div.expenses {
        min-width: auto;
        width: 100%;
    }
    div.expenses {
        margin-top: 20px;
    }
}