div.summary {
    width: 100%;
    float: left;
}

div.summary table {
    width: 100%;
    margin-top: 20px;
}

div.summary table td:nth-child(2) {
    text-align: right;
    font-weight: bold;
    padding-left: 10px;
}

div.summary table td:first-child {
    vertical-align: bottom;
}

div.summary table td:nth-child(2) {
    float: right;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #bada55;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

@media (max-width: 1330px) {
    div.mortgage div.expenses,
    div.mortgage div.form-group {
        min-width: auto;
        width: 100%;
    }
}