.minutes, .stops, .start, .stop {
    width: 50%;
    float: left;
}

.minute-wrapper, .time-wrapper {
    clear: both;
    width: 100%;
}

.stop {
    float:right;
    text-align: right;
}







.change-icon {
    text-align: center;
    margin-top: 20px;
}