.paper div:first-child {
    width: 55%;
    float: left;
}

.paper div:last-child {
    width: 45%;
    float: left;
    text-align: right;
}

.paper div:last-child div {
    clear: both;
    text-align: right;
    width: 100%;
}

.change-icon {
    text-align: center;
    margin-top: 20px;
}