.refresh {
  position: fixed;
  top: 0;
  right: 0;
}

#fixtures, #table {
  float: left;
}

#fixtures {
  width: 38%;
  float: right;
}

#table {
  width: 60%;
}

@media (max-width: 750px) {
  #fixtures, #table {
    float: none;
    width: 100%;
  }

  #fixtures {
    margin-top: 10px;
    margin-left: 0;
  }
}