.day-wrapper {
    margin-bottom: 10px;
    cursor: default;
}
    
.day-wrapper .day {
    text-align: center;
}

.day-wrapper .fixture .home, 
.day-wrapper .fixture .result,
.day-wrapper .fixture .away {
    width: 33%;
    float: left;
    text-align: center;
}

.day-wrapper .fixture .home {
    text-align: right;
}

.day-wrapper .fixture .away {
    text-align: left;
}

.team-is-playing {
    color: lime;
}

.team-is-done {
    color: #ccc;
}

@media (max-width: 1000px) {
    .day-wrapper .day {
        width: 100%;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .day-wrapper .fixture .home {
        text-align: left;
    }
    
    .day-wrapper .fixture .away {
        text-align: right;
    }

    .day-wrapper .day {
        width: 100%;
    }
}