table {
    width: 100%;
    cursor: default;
}

thead th:first-child,
tbody td:first-child,
thead th:nth-child(3),
tbody td:nth-child(3),
thead th:nth-child(4),
tbody td:nth-child(4),
thead th:nth-child(5),
tbody td:nth-child(5),
thead th:last-child,
tbody td:last-child {
    text-align: center;
    width: 40px;
}

th:nth-child(2),
td:nth-child(2) {
    padding-left: 10px;
}

tbody tr:nth-child(1),
tbody tr:nth-child(4),
tbody tr:nth-child(5),
tbody tr:nth-child(17) {
    border-bottom: solid 1px #ccc;
}

tbody tr:first-child {
    font-weight: bold;
}

tbody tr:hover {
    background-color: #ccc;
    color: #000;
}

.team-is-playing {
    color: limegreen;
}

.team-is-done {
    color: #ccc;
}

tbody td:nth-child(2) div {
    width: 100%;
}

tbody td:nth-child(2) div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr.mouse-over {
    background-color: chartreuse;
}

.table-wrapper {
    position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    tbody td:nth-child(2) {
        max-width: 150px;
    }

    thead th:first-child, tbody td:first-child {
        text-align: left;
    }

    thead th:last-child, tbody td:last-child {
        text-align: right;
    }
}