table {
    width: 100%;
}

thead th:first-child,
tbody td:first-child,
thead th:nth-child(3),
tbody td:nth-child(3),
thead th:nth-child(4),
tbody td:nth-child(4),
thead th:nth-child(5),
tbody td:nth-child(5),
thead th:last-child,
tbody td:last-child {
    text-align: center;
    width: 40px;
}

th:nth-child(2),
td:nth-child(2) {
    padding-left: 10px;
}

tbody tr:nth-child(1),
tbody tr:nth-child(4),
tbody tr:nth-child(5),
tbody tr:nth-child(17) {
    border-bottom: solid 1px #ccc;
}

tbody tr:nth-child(18),
tbody tr:nth-child(19),
tbody tr:last-child {
    color: #999;
}

tbody tr:first-child {
    font-weight: bold;
}

.team-is-playing {
    background-color: lightgreen;
}

.team-is-done {
    background-color: lightgrey;
}