table {
    width: 100%;
}

table td, table th {
    cursor: default;
}

table tr th:nth-child(3),
table tr th:nth-child(4),
table tr th:nth-child(5),
table tr td:nth-child(3),
table tr td:nth-child(4),
table tr td:nth-child(5) {
    text-align: center;
}

tbody tr:first-child {
    font-weight: bold;
}

.team-is-playing {
    color: limegreen;
}

.team-is-done {
    color: #ccc;
}

tbody td:nth-child(2) div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr.mouse-over {
    background-color: chartreuse;
}

.team-crest {
    vertical-align: middle;
    opacity: 0.5;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    tbody td:nth-child(2) {
        max-width: 130px;
    }

    thead th:first-child, tbody td:first-child {
        text-align: left;
    }

    thead th:last-child, tbody td:last-child {
        text-align: right;
    }
}