.tooltip-wrapper {
    padding: 20px;
}

.home, .time, .away {
    width: 15%;
    float: left;
}

.home, .away, .stadium {
    padding-top: 3px;
}

.teams {
    margin-left: 20px;
}

.stadium {
    width: 45%;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.game-wrapper {
    margin-bottom: 40px;
}

.home {
    text-align: right;
}

.away {
    text-align: left;
}

.time {
    text-align: center;
}