.home, .time, .away {
    width: 30%;
    float: left;
}

.home, .away {
    padding-top: 3px;
}

.teams {
    margin-left: 20px;
}

.stadium {
    width: 100%;
    clear:both;
    text-align: center;
    margin-top: -10px;
}

.home {
    text-align: right;
}

.away {
    text-align: left;
}

.time {
    text-align: center;
}