.home, .away {
    width: 40%;
    float: left;
    padding-top: 4px;
}

.time {
    width: 20%;
    float: left;
}

.teams {
    margin-left: 20px;
}

.stadium {
    width: 100%;
    clear: both;
    text-align: center;
    margin-top: -10px;
}

.home {
    text-align: right;
}

.away {
    text-align: left;
}

.time {
    text-align: center;
}

.team-crest {
    vertical-align: middle;
    opacity: 0.8;
}