@page "/"
@using Microsoft.Extensions.Options;
@using BlazorApp.Features.Shared.Models

@inject IOptions<List<FeatureInformation>> _options;
@inject NavigationManager _navigationManager


<PageTitle>Oscar's Playground</PageTitle>

<h1>Hello, world!</h1>

<p>This is where I collect minor project ideas and technologies I want to try out.</p>

@foreach (var item in _options.Value)
{
    <div class="tool" @onclick="@(e => onClick(item.NavMenuItem.Href))">
        <h3>@item.Name</h3>
        <p>@item.Description</p>
    </div>
}

@code {
    private void onClick(string href) {
        _navigationManager.NavigateTo(href);
    }
}