div.tool {
    border: solid 1px #333;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(232, 232, 232);
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

div.tool div.information {
    z-index: 1000;
    position: relative;
}

div.tool div.background-icon {
    right: -30px;
    position: absolute;
    height: 100px;
    width: 100px;
    font-size: 100px;
    color: #ccc;
    z-index: 0;
    bottom: 0px;
}