@using BlazorApp.Features.Shared.Services.Abstractions
@using Features.Shared.Services

@inject ILocalStorage _localStorage

<div class="simple-form">
    <div class="form-group">
        <input @bind="@input" type="password" class="form-control" />
    </div>
    <button @onclick="Login" class="btn btn-primary">Submit</button>
    <div id="error-message">@errorMessage</div>
</div>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = new();

    private string errorMessage { get; set; } = string.Empty;
    private string input { get; set; } = string.Empty;

    private void Login()
    {
        if (input == "solstigen")
        {
            errorMessage = "";
            var token = HelperMethods.EncryptString($"{input}-{DateTime.Now.Ticks}-salt", "authorizationkey");
            _localStorage.SaveStringAsync("auth", token);

            MudDialog.Close(DialogResult.Ok(true));
        }
        else
        {
            errorMessage = "Wrong password";
        }
    }
}