table {
    min-width: 500px;
    margin-bottom: 30px;
}

table td {
    vertical-align: middle;
}

.live-switch {
    text-align: right;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      table {
          width: 100%;
          min-width: 0;
      }
  }