div.mortgage div.form-group {
    width: 30%;
    float: left;
    min-width: 500px;
    margin-right: 20px;
}

.message {
    width: 150px;
    height: 30px;
    padding-top: 5px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: -30px;
    transform: translate(-50%, 0);
    color: rgb(76, 137, 194);
    font-size: 80%;
    text-align: center;
    z-index: 1000;
    border: solid 1px rgb(76, 137, 194);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;
}

.message.top {
    top: 0;
}

div#reset-documentsuffix {
    width:100px;
    height:50px;
    position: absolute;
    top: 60px;
    right: 10px;
    text-align: right;
}

@media (max-width: 1085px) {
    div.mortgage div.form-group {
        min-width: auto;
        width: 100%;
    }
    div.expenses {
        margin-top: 20px;
    }
}